body {
    margin: 0 auto;
    width: 70%;
    font-family: "Avenir Next";
    overflow-x: hidden;
}

h1 {
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
}

#wrapper {
    position: relative;
}

#wrapper #header {
    height: 125px;
}

#header {
    margin: 0 -9999rem;
    padding: 0 9999rem;
    background-color: #2A986C;
}

#nav {
    margin: 0 -9999rem;
    padding: 8px 9999rem 8px 9999rem;
    background-color: #DF7C3E;
    width: 100%;
    display: table;
    table-layout: fixed;
    position: absolute;
    bottom: 0px;
}

.nav-link {
    font-size: 14pt;
    display: table-cell;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #994008;
}

p {
    font-weight: normal;
    font-size: 14pt;
}