body {
    margin: 0 auto;
    width: 70%;
    font-family: "Avenir Next";
    overflow-x: hidden;
}

h1 {
    font-weight: normal;
    font-size: 30pt;
    padding-top: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

#wrapper {
    position: relative;
}

#wrapper #header {
    height: auto;
}

#header {
    margin: 0 -9999rem;
    padding: 0 9999rem;
    background-color: #2A986C;
    text-align: center;
}

#fomentia {
    display: inline-block;
    zoom: 1;
    height: auto;
    width: 100%;
    padding: 10px 0 50px 0;
}

#nav {
    margin: 0 -9999rem;
    padding: 8px 9999rem 8px 9999rem;
    background-color: #DF7C3E;
    width: 100%;
    display: table;
    table-layout: fixed;
    position: absolute;
    bottom: 0px;
}

.nav-link {
    font-size: 14pt;
    display: table-cell;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #994008;
}

p {
    font-weight: normal;
    font-size: 14pt;
    text-align: justify;
}

#profile-picture {
    float: left;
    border-radius: 50px;
    padding: 10px 20px 10px 0px;
}

#social {
    margin: 0 -9999rem;
    padding: 0px 9999rem 40px 9999rem;
    background-color: #2A986C;
}

#social-logos {
    width: 100%;
    display: table;
    table-layout: fixed;
    text-align: center;
}

#social-logos img {
    display: inline-block;
    padding: 10px 20px;
}
